// Light Theme
$main-bg-light: hsl(236, 33%, 92%);
$text-light: hsl(234, 11%, 52%);
$elements-bg-light: hsl(0, 0%, 98%);

// Dark Theme
$main-bg-dark: hsl(235, 21%, 11%);
$text-dark: hsl(236, 9%, 61%);
$elements-bg-dark: hsl(235, 24%, 19%);

$text-dark-hover: hsl(236, 33%, 92%);
